<!DOCTYPE html>
<html>

<head>
  <title>Advanced React</title>
  <script>
    window.initialData = <%- JSON.stringify(initialData) %>
  </script>

</head>

<body>
  <div id='root'>
    <%- initialMarkup %>
  </div>
  <script>
    const scripts = <%- JSON.stringify(scripts) %>
      function renderScripts(item) {
        const head = document.getElementsByTagName('head')[0]
        const script = document.createElement('script')
        script.setAttribute('src', item)
        head.appendChild(script)
      }
    scripts.forEach(renderScripts)
  </script>
</body>

</html>