<!DOCTYPE html>
<html>

<head>
  <title>Advanced React</title>
</head>

<body>
  <div id='root'><%- initalContent %></div>
  <script src="/bundle.js" charset="UTF-8"></script>
  </div>
</body>

</html>